*, *::before, *::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  align-items: center;
  background-color: #ffffed;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.calculator {
  align-content: center;
  background-color: #6ebda4;
  border: 2px solid;
  border-radius: 15px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  justify-content: center;
  margin-top: 10vh;
  padding: 10px;
}

.output {
  align-items: flex-end;
  background-color: #d9ffea;
  border: 2px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previousNumber {
  font-size: 1.5rem;
}

.output .currentNumber {
  font-size: 2.5rem;
}

.calculator > button {
  border: 1px black solid;
  cursor: pointer;
  font-size: 2rem; 
  padding: 10px;
  opacity: .75
}

.calculator > button:hover {
  opacity: 1
}

.numberButton {
  background-color: #62afb7;
}

.operatorButton {
  background-color: #ffec47;
}

.clearButton {
  background-color:#274b41;
}

.deleteButton {
  background-color:#0b5394;
}

.equalsButton {
  background-color:#f20553;
}

.spanTwo {
  grid-column: span 2;
}